div.row{
	margin: 10px 0;
	width: 100%;
	display: flex;
	flex-flow: row wrap;
	justify-content: flex-start;
	align-items: baseline;
	align-content: flex-start;
}

div.row label{
	width: 200px;
}

div.row a{
	font-weight: bold;
	margin-left: 20px;
}

.link_to_preview > span{
	display: none;
}

.link_to_preview:hover > span{
	display: block;
	position: absolute;
	float: none;
	clear: both;
	margin-top: 5px;
	padding: 5px;
	max-width: 150px;
	border: 1px solid #e5e5e5;
	background: #fff;
}